{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<form method="post" class="main">
    {% if error %}
        <div class="alert alert-danger">Identifiant ou Mot de passe incorrect</div>
    {% endif %}

    <hr class="separation">
    <h1>Identifiez-Vous</h1>
    <hr class="separation">

    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail " class="inputLog" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="inputLog" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
    #}
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>
    <div class="bloc-btn-login">
        <button class="btn btn-lg btn-login" type="submit">Valider</button>
        <a href="{{ path('main_acceuil') }}"><button type="button" style="background-color: crimson" class=" btn btn-lg btn-login">Annuler</button></a>
    </div>

</form>

    <div class="oubliMdp" >
        <a href="{{ path('app_forgot_password_request') }}" title="mot de passe oublié"> Mot de passe oublié?</a>
    </div>
{% endblock %}
