{% extends 'base.html.twig' %}

{% block title %} Acceuil {% endblock %}

{% block body %}
    <div class="acceuil">
        <img class="logoPageAcceuil" src="{{ asset('img/logo-site-3r.png') }}" alt="logoSiteR3">
        <h1 class="msgBienvenue">- Vous souhaite la Bienvenue - </h1>
    </div>

{% endblock %}
