@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt&family=Syncopate:wght@700&display=swap');
/*
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Syncopate', sans-serif;
*/
.acceuil{
    animation-name: acceuil;
    animation-duration: 6s;
    opacity:0;
    height: 400px;
}
.justify-content-center{
    display: flex;
    align-items: center;
}
.bandeau{
    display: flex;
    justify-content:space-between ;
    padding: 15px 15px 15px 15px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(12,27,73,1) 100%);

}
.bandeauNav{
    background-color : rgba(255, 255, 255, 0);
}.bloc-btn-login{
     display: flex;
     justify-content: space-evenly;
 }
.bloc-btn-register{
    display: flex;
    justify-content: space-evenly;
}
.btnMonCompte{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.btn-login{
    margin: 25px 0 25px 0;
    background-color: #378d01;
    color: white;
    margin: 40px 15px 0 15px ;
    width: 150px;
    height: 50px;
}
.btn-register{
    background-color: #378d01;
    color: white;
    margin: 40px 15px 0 15px ;
    width: 150px;
    height: 50px;
}
.btn-modif{
    background-color: #378d01;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 15px 0 15px ;
    width: 150px;
    height: 50px;
}
.centerZ{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.detailUtilisateur{
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    list-style: none;
    padding: 0;
    color: white;
}
.detailUtilisateur li{
    margin-top: 20px;
}
.divLogoBandeau{
    width: 20%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formModif{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    font-family: 'Syncopate', sans-serif;
    font-weight: 600;
    text-align: center;
    width: 100%;
    position: fixed;
    line-height: 40px;
    bottom: 0px;
    background-color: white;
}

header{
    padding: 15px 0 15px 0;
    animation-name: bandeau;
    animation-duration: 6s;
}
html{
    background-image: url("../img/acceuil.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h5{
    color: orange;
}
.inputLog{
    width: 25%;
    padding: 5px;
}
.logoBandeau{
    width: 30%;
}
.divLogoBandeau h3{
    color: whitesmoke;
    font-family: 'Lobster', cursive;
}
.logoPageAcceuil{
    width: 20%;
    margin-top: 80px;
}
main{
    text-align: center;
    font-family: 'Prompt', sans-serif;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.9);
    height: 700px;
}
main h1{
    color: white;
}
main h4{
    color: white;
    margin: 0;
    text-decoration: underline;
}
.main{
    text-align: center;
    font-family: 'Prompt', sans-serif;
    margin-top: 30px;
}
main label{
    display:block;
    margin: 20px 0 0px 0;
    color: white;
}
.monCompte{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.msgBienvenue{
    font-family: 'Lobster', cursive;
    margin:25px 0 40px 0;
    font-size: 50px;
    color: white;
}
nav{
    display: flex;
    flex-direction: row;
}
nav a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Prompt', sans-serif;
    margin-right: 15px;
}
nav a:hover{
    text-decoration: underline #ffffff;
    color: #ffc002;
    transition: 1s;
}
.nav-ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
nav li{
    list-style: none;
    margin-right: 10px;
    font-size: 1.5rem;
}
.opacity{
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    background-color: rgba(0,0,0,0)
}
.oubliMdp{
    margin-top: 20px;
}
.rechercher{
    display: flex;
    flex-direction: row;
}
#registration_form{
    margin-bottom: 10px;
}
.separation{
    border-color: white;
}
.small{
    color: #ffc002;
    padding: 15px 0 30px 0;

}
.small h6{
    line-height: px;
}
.spanColor{
    color: #ffc002;
}
.translatAcceuil{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
    z-index:10;
}
.translatAcceuil img{
    width: 25%;
}
#update_form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#update_form_photo{
    margin-bottom: 25px;
}
.utilConnecter{
    display: flex;
    justify-content: right;
    padding-right: 40px;
    color: whitesmoke;
}
.utilConnecter a{
    color: whitesmoke;
}
.utilConnecter a:hover{
    color: #01ffc3;
    transition: 1s;
}







@keyframes acceuil {
    0% {
        opacity:1;
    }
    40% {
        opacity:1;
    }
    100% {
        opacity:0;
    }

}



