{% extends 'base.html.twig' %}

{% block title %}Modifier Profil{% endblock %}

{% block body %}
    <hr class="separation">
    <h1>Mon Compte</h1>
    <hr class="separation">
    <h4>Modifier</h4>
    <div class="col-xl-12 formModif">
        <div class="col-xl-4 ">
            {{ form_start(updateForm) }}
            {{ form_widget(updateForm) }}
            <div class="bloc-btn-modif">
                <button type="submit" class="btn btn-lg btn-modif">Valider</button>
                <a href="{{ path('main_acceuil') }}"><button type="button" style="background-color: crimson" class="btn btn-lg btn-modif">Annuler</button></a>
            </div>
            {{ form_end(updateForm) }}
        </div>
    </div>


{% endblock %}



