{% extends 'base.html.twig' %}

{% block title %}Compte Administrateur{% endblock %}

{% block body %}


    <div class="example-wrapper">
        <h1>Bienvenue {{ controller_name }}! ✅</h1>

    </div>
{% endblock %}
