<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# FAVICON #}
        <link rel="icon" href="img/favicon.png">
        {# Lien Fichiers Css #}
        <link href="css/Form.css" rel="stylesheet">


        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>Test Commit Nico</h1>
            <h1> Test Charly</h1>
            <h1>Test Radouan</h1>
            <h1>Welcome</h1>
        {% endblock %}
    </body>
</html>
