<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# FAVICON #}
        <link rel="icon" href="img/favicon.png">
        {# Lien Fichiers Css #}
        <link href="css/Form.css" rel="stylesheet">


        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
         <h1>Sortir</h1>
        <nav>
            <ul>
                <li><a href="#" title="Accueil">Accueil</a></li>
            </ul>
        </nav>


    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <div>&copy; {{ "now"|date("Y") }} 3R-Events</div>
    </footer>
      

    </body>
</html>
